{{!-- {{#each this.args.tweets as |tweet|}} --}}
{{#each @tweets as |tweet index|}}
	<div class="divider"></div>
	<TweetCard @tweet={{tweet}} @deleteTweet={{action this.args.deleteTweet}}/>
{{else}}
	No hay tweets
{{/each}}
<div class="divider"></div>