<Navbar />
<div class="content flex row justify-content-center">
	<div class="flex column">
		
	</div>
	<div class="flex flex07 column">
		<InputBox @onSubmit={{action this.onSubmit}}/>
		<div class="margin-bottom">
			<Feed @tweets={{this.model}}/>
		</div>
	</div>
</div>